[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nizolkowyswietymikolaj
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nizolkowyswietymikolaj
	label-Verified = -1..+1 group user/nizolkowyswietymikolaj
	push = group user/nizolkowyswietymikolaj
	read = group user/nizolkowyswietymikolaj
	rebase = group user/nizolkowyswietymikolaj
	removeReviewer = group user/nizolkowyswietymikolaj
	submit = group user/nizolkowyswietymikolaj
[access "refs/heads/*"]
	create = group user/nizolkowyswietymikolaj
	push = +force group user/nizolkowyswietymikolaj
	pushMerge = group user/nizolkowyswietymikolaj
	read = group user/nizolkowyswietymikolaj
[access "refs/tags/*"]
	push = group user/nizolkowyswietymikolaj
	push = +force group user/nizolkowyswietymikolaj
